<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3acfe">  <td>17/09/21 16:12:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginLogouttestNG.afterMethod()[pri:0, instance:ProjLoginLogout.ProjLoginLogout.LoginLogouttestNG@1cab519]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@24460141</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/09/21 16:12:09</td>   <td>-38937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginLogouttestNG.beforeMethod()[pri:0, instance:ProjLoginLogout.ProjLoginLogout.LoginLogouttestNG@1cab519]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@24460141</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/09/21 16:12:40</td>   <td>-8218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginLogouttestNG.login()[pri:0, instance:ProjLoginLogout.ProjLoginLogout.LoginLogouttestNG@1cab519]">login</td> 
  <td>main@24460141</td>   <td></td> </tr>
</table>
